<%- include('partials/header') -%>

    <section id="write-journal">
        <div class="journal-container">
            <form action="/write" method="post">
            <div class="journal-card">
                <div class="write-journal-heading">
                    <h1 class="write-journal-date"><%= todaysDate %> </h1>
                </div>
                
                    <!-- <button type="submit" class="save-btn"><img class="img " src="/images/save-icon.png" alt="save"></button> -->
                    <div class="write-journal-content-input">
                        <textarea name="writeJournalContent" id="write-journal-content" placeholder="Write your journal Here."></textarea>
                    </div>
                    
            </div>
            <div class="write-journal-btn">
                <button type="submit" class="write-submit-btn">Add Journal</button>
            </div>
        </form>
        </div>
    </section>

<%- include('partials/footer') -%>


























