<%- include('partials/header') -%>
    <div class="write-container">
        <div class="write-card">
            <h1 class="write-heading">Write your daily Journals..</h1>
            <form class="write-form" action="/write" method="post">
                <div class="write-form-item">
                    <label for="title" class="write-form-title">Title</label>
                    <input type="text" name="title" id="write-title-input" placeholder="Enter the title of your journal.">
                </div>
                <div class="write-form-item">
                    <label class="write-form-journal" for="journal">Journal</label> <br>
                    <textarea name="journal" id="write-journal-input" placeholder="Write your Journal here.."></textarea>
                </div>
                <div class="write-form-item">
                    <button class="write-submit-btn" type="submit">Add Journal</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/footer') -%>