#big-container {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #252839; */
    color: black;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-family: 'Montserrat';
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2.5%;
}

p {
    line-height: 1.5;
    font-size: 1.3rem;
}


/* Top Section */

#top {
    /* text-align: center; */
    text-align: left;
    background-color: #e6e6e6;
    padding: 1%;
}

.title {
    /* width: 65%; */
    /* margin: 0 auto; */
    text-align: center;
}

.title-heading {
    margin-bottom: 0;
    font-family: 'Source Sans Pro' monospace;
    position: relative;
    font-family: 'Montserrat';
    /* color: #252839; */
    /* max-width: max-content; */
    /* The property should take the maximum width of this heading. but didn't */
    display: inline-block;
    width: 61%;
    font-family: 'Source-sans', monospace;
}

.title-heading::before,
.title-heading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.title-heading::before {
    background-color: #e6e6e6;
    /* background-color: teal; */
    animation: typewriter 6s forwards steps(32) 3s infinite;
}

.title-heading::after {
    width: 0.125em;
    background-color: black;
    color: black;
    animation: typewriter 6s forwards steps(32) 3s infinite, blink 500ms forwards steps(29) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.title p {
    margin-top: 1%;
    color: #757171;
}


/* Main section */

#main {
    text-align: center;
    /* text-align: left; */
}

.container {
    /* width: 70%;
    margin: 0 auto;
    text-align: left; */
    text-align: center;
}

.main-ul {
    padding-left: 0;
}

.main-li {
    list-style: none;
    padding-top: 3%;
}

.main-li button {
    min-width: 130px;
    padding: 12px 0;
    font-size: 1.15rem;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.3s;
    outline: none;
    color: white;
}

.main-li button:hover {
    box-shadow: inset 140px 0 0 0 #fff;
    color: black;
}

.main-li button a {
    text-decoration: none;
    color: white;
    padding: 12px 38px;
    font-family: 'source-sans', monospace;
    font-weight: 700;
}

.main-li button:hover>a {
    color: black;
}


/* footer */


/* media queries... */

@media (max-width: 1108px) {
    .title-heading {
        width: 100%;
        font-size: 2.5rem;
    }
    .title-p {
        font-size: 1.1rem;
    }
}

@media (max-width:475px) {
    .title-heading::before,
    .title-heading::after {
        visibility: hidden;
    }
    .title-heading {
        font-size: 2rem;
    }
    .title-p {
        font-size: 1rem;
    }
}