.bg {
    background: #f3f3f3;
}

.yellow-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #eea302;
    margin-top: 0.2rem;
    background: #eea302;
}

.border-radius100 {
    border-radius: 200%;
}

.nav-li {
    font-size: 1.1rem;
}


/* .nav-li a:hover {
    color: #eea302;
} */

.font {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
}

.txts {
    text-align: left;
}

.h1 {
    font-size: 6rem;
    line-height: 1;
}

.h3 {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
}

.main-align {
    padding-left: 6px;
}

.main {
    width: 80%;
}

.main-txt {
    width: 38%;
    margin-left: -50px;
}

.main-p {
    font-family: 'Quicksand';
    font-size: 0.9rem;
    font-weight: 400;
}

.main-img {
    width: 55%;
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2.5rem;
    border: 1px solid black;
    height: 124px;
    width: 124px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin: 0 6px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.btn1 {
    background-color: #eea302;
}

.btn2 {
    background: #ff3b25;
}

.btn3 {
    background: #80d8da;
}

.hr {
    margin-top: 3%;
    background-color: #c1c1c1;
    height: 2px;
    display: block;
    width: 94%;
    /* text-align: center; */
    margin: 10% auto 2% auto;
}

#footer {
    margin-bottom: 10%;
    margin-top: 3%;
}


/* Hover Effects. */

.nav-li a:hover {
    color: #eea302;
}

.btn {
    transition: 0.7s ease-in-out;
}

.btn:hover {
    background: #f3f3f3;
    transition: 0.8 ease-in-out;
}

.profile-links1:hover {
    /* color: #0a66c2; */
    color: #eea302;
}

.profile-links2:hover {
    /* color: #1d9bf0; */
    color: #eea302;
}

.profile-links3 i:hover {
    color: #eea302;
}