.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

h2 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #daaf42;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

.restart-btn-containner{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.restart{
     /* height: 50px; */
    /*width: 100px; */
    background-color:#4ECCA3 ;
    border: none;
    font-family: 'Lobster', cursive;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    border-radius: 7px;
    padding: 1%;
    cursor: pointer;
}

.restart:hover{
    box-shadow: -1px 2px 8px 0px;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}