<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="box" id="heading">
      <h1>
        <%= day %>
      </h1>
    </div>
    <div class="box">
      <% for(let i=0; i<items.length; i++){ %>
        <div class="item">
          <input type="checkbox" />
          <p>
            <%= items[i] %>
          </p>
        </div>
        <% } %>
          <form class="item add-item-form" action="/" method="post">
            <input type="text" name="inputTask" class="ip-task" placeholder="New Item" autocomplete="off" />
            <button type="submit" name="add" class="submit-btn">+</button>
          </form>
    </div>
    <footer>&copy; Sunny.</footer>
  </body>

</html>