@media (max-width: 1029px) {
    .navigation {
        flex-direction: column;
        transition: 1s ease-in-out;
    }
    .nav-ul {
        flex-direction: column;
        margin: 80px auto;
    }
    .nav-li {
        margin: 25px auto;
    }
    .nav-links {
        font-size: 1.3rem;
    }
    .right-side-nav {
        width: 100%;
        background: #f3f3f3;
        transition: 0.7s ease-in-out;
        position: absolute;
        top: -300%;
    }
    .ham-burger {
        z-index: 2;
        display: block;
    }
    .active {
        /* display: none; */
        top: 0;
    }
    .bars {
        display: none;
    }
}

@media (max-width: 350px) {
    .navigation {
        min-width: 245px;
    }
    .name {
        font-size: 1.3rem;
    }
    .profession {
        font-size: 0.87rem;
        margin: 12px 1px 0 0;
    }
    .yellow-circle {
        width: 20px;
        height: 20px;
        margin: 2px 0 0 0;
    }
    .ham-burger {
        margin-top: 2px;
    }
}

@media (max-width: 245px) {
    .ham-burger {
        position: fixed;
        right: 15px;
    }
    .right-side-nav {
        width: 245px;
    }
}