<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Enter the password </h1>
    <p class="pl-1">SUPER SECRET page is only meant for someone whose name starts with <strong>M</strong> and ends with <strong>A</strong></p>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/password" method="POST">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="superPassword">
            </div>
            <button type="submit" class="btn btn-dark">Proceed</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
