
<html >
<head>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="header">
       <nav>
         <div class="main-title">
            <h1 class="title">Daily Journal</h1>
           </div>
           <ul>
               <li><a class="nav-items" href="/">Home</a></li>
               <li><a class="nav-items" href="write">Write Jounral</a></li>
               <!-- <li><a class="nav-items" href="edit">Edit Journal</a></li> -->
               <li><a class="nav-items" href="search">Find Journal</a></li>
           </ul>
       </nav>
    </section>
